@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "@fontsource/plus-jakarta-sans";

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
